
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

}

.about p {
    color: var(--m-color);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2;
    width: 800px;
}

