:root {
    --m-color: #485460;
    --alt-color: #669bcc;
    --header-height: 88px;
    --main-transition: 0.3s;
    --bg-color: #f7f9f7;
    --onhover: #e8ecf1;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* //////////////////////////////////////////// */

.header {
    background-color: var(--bg-color);
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: b0 0 10px #ddd;
    position: sticky;
    top: 0;
    z-index: 1100;
}

.container {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;

}

/* Extra small  */
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}

/* Small  */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

/* Medium screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* X-large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* XX-large */
@media (min-width: 1400px) {
    .container {
        width: 1380px;
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--m-color);
    font-size: 22px;
    font-weight: bold;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 15px;
}

.header .shop {
    color: var(--alt-color);
    margin-right: 10px;
}

a {
    text-decoration: none;
    list-style: none;
}

li {
    list-style: none;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


.header .navbar .nav-links {
    position: relative;
    background-color: var(--bg-color);
    list-style: none;
    display: flex;
    font-size: 0.9rem;
    z-index: 1;
}

.header .navbar .tog-btn {
    color: var(--m-color);
    font-size: 1.8rem;
    cursor: pointer;
    padding: 2px 7px;
    display: none;
}

@media (max-width: 767px) {
    .header .navbar .nav-links {
        display: none;
    }

    .header .navbar .tog-btn {
        display: block;
    }
}

.header .container .mobile-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #282f36b9;
    transition-duration: var(--main-transition);
    z-index: 1;
    display: none;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.header .container .show-nav {
    height: 310px;
}

@media (max-width: 767px) {
    .header .container .mobile-nav {
        display: block;
    }
}

.header .container .mobile-nav li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: var(--main-transition);
}

.header .container .mobile-nav li .h-links {
    transition-duration: var(--main-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    width: 60%;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 5px;
}

.header .container .mobile-nav li .h-links:hover {
    color: #c1d5e9;
}

.header .container .mobile-nav li .log {
    transition-duration: var(--main-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 18px;
    width: fit-content;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 50px;
    color: #485460;
    background-color: white;
}

.header .container .mobile-nav li .log:hover {
    background-color: #cbdff3;
}

.header .navbar .nav-links .h-links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: var(--header-height);
    font-weight: 700;
    color: var(--m-color);
    overflow: hidden;
    font-size: 1.3em;
}


.header .navbar .nav-links .log {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    font-size: 1.3em;
    color: var(--alt-color);
    font-weight: 800;

}

.header .navbar .nav-links .log:hover {
    transform: translateY(-5px);
    transition-duration: var(--main-transition);

}

.header .navbar .nav-links .h-links::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--alt-color);
    bottom: 0;
    left: -100%;
}

.header .navbar .nav-links .h-links:hover {
    background-color: #e7e6e676;
    transition-duration: var(--main-transition);
    transition-delay: 0.2s;
}

.header .navbar .nav-links .h-links:hover::before {
    left: 0;
    transition-duration: var(--main-transition);

}


.header .cart {
    font-size: 30px;
    cursor: pointer;
    color: var(--m-color);
    border-radius: 10px;
    padding: 9px;
    transition-duration: var(--main-transition);
}

.header .cart:hover {
    background-color: var(--onhover);
    transform: translatey(-5px);
}

.badge:after {
    content: attr(value);
    font-size: 17px;
    color: var(--m-color);
    background: var(--onhover);
    border-radius: 10px;
    padding: 2.5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--m-color);
    position: sticky;
    vertical-align: super;

}

/* media query for header  */
@media (max-width: 992px) {
    .header .logo {
        width: 5px;
        font-size: 19px;
        margin-left: 70px;
    }

    .header .navbar {
        margin-right: 5px !important;
    }

    .header .cart {
        margin-right: -25px;
        font-size: 27px;
    }
}


@media (max-width: 767px) {
    .header .container {
        width: 100%;
    }

    .header .cart {
        margin-right: -25px;
    }

    .badge:after {
        border-radius: 10px;
        font-size: 13px;
        padding: 2.5px 5px;
    }
}