{% include "header.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/header-home-style.css">
{% endblock %}

<div class="landing">
    <div
            class="cover-photo"
            style="
          background-image: url(https://images.unsplash.com/photo-1590605105526-5c08f63f89aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
        "
    >
        <div class="typing-container">
            <div class="typing-text">About US!</div>
            <div class="typing-text-2">We believe in talents.</div>
        </div>
    </div>
</div>



{% include "footer.html" %}