{% include "header.html" %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/header-home-style.css">
    <link rel="stylesheet" href="../static/css/about.css">
{% endblock %}

<div class="landing">
    <div
            class="cover-photo"
            style="
          background-image: url(https://images.unsplash.com/photo-1590605105526-5c08f63f89aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
        "
    >
        <div class="typing-container">
            <div class="typing-text">About US!</div>
            <div class="typing-text-2">We believe in talents.</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="about">
        <p>
            At HandMade, we are passionate about creating and curating a collection of handcrafted treasures that
            reflect the artistry and dedication of skilled artisans from around the world. Our journey began with a
            simple
            idea: to offer a platform where the beauty of handmade craftsmanship could be celebrated and shared. Every
            item
            you find here tells a unique story, a labor of love that goes into crafting something truly special.
        </p>
        <br>
        <p>
            Our commitment to supporting artisans and preserving traditional craftsmanship is at the heart of everything
            we
            do. We believe in the value of quality over quantity, and each product you discover in our store is a
            testament
            to that belief. Whether you're seeking a one-of-a-kind piece of jewelry, a beautifully woven textile, or a
            piece
            of functional art for your home, we invite you to explore our carefully curated selection and become a part
            of
            our community that values the beauty of the handmade.
        </p>
        <br>
        <p>
            At HandMade, we are more than just an e-commerce platform; we are a gathering place for artisans and art
            lovers alike. We're dedicated to fostering a sense of connection and appreciation for the incredible talent
            and
            passion that goes into every creation. Thank you for joining us on this journey of celebrating the handmade,
            and
            we look forward to helping you discover the perfect piece that resonates with your unique style and story.
        </p>
    </div>
</div>


{% include "footer.html" %}