{% include "header.html" %}
{% if products|length %}
    <div class="container add_margin">
        <h1 class="ur-cart-h">Your Cart</h1>
    </div>
    <div class="carts-side">
        <div class="container">
            <div class="side-sec">
                {% for product in products %}
                    <div class="side">
                        <img class="p-cart-img" src="{{ product.image }}" alt="">
                        <div class="p-cart-info">
                            <h3 class="p-cart-name">{{ product.name }}e</h3>
                            <span class="p-cart-price"> {{ product.price }} <span
                                    class="p-cart-currency">EGP</span></span>
                            <h4 class="p-cart-seller-h"> Seller: <a href=""
                                                                    class="p-cart-s-name">{{ product.user.name }}</a>
                            </h4>
                            <a href="#" class="p-remove" product_id="{{ product.id }}" product_price="{{ product.price }}"> Remove </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="p-cart-check">
                <h2 class="total-price"> Total Price </h2>
                <hr>
                <span class="p-t-price"> {{ price }}<span class="p-t-currency">EGP</span></span>
                <h2 class="pay-method"> Payment Method </h2>
                <hr>
                <label class="cash">
                    <input class="cash-on-check" type="checkbox" name="" id="" checked="checked" disabled>
                    Cash on delivery
                </label>
                <input class="check-btn" type="button" value="Checkout">
            </div>
        </div>
    </div>
{% else %}
    <div class="container add_margin">
        <h1 class="ur-cart-h">Your Cart Is Empty</h1>
    </div>
    <div style="min-height: 50vh"></div>
{% endif %}
{% extends "footer.html" %}
{% block scripts %}
<script src="../static/scripts/cart_details.js"></script>
{% endblock %}
