<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@200;300;400;600;700;800&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/all.min.css"/>
    <link rel="stylesheet" href="../static/css/header-style.css"/>
    <link rel="stylesheet" href="../static/css/home-page-style.css"/>
    <link rel="stylesheet" href="../static/css/footer-style.css">
</head>
<body>
<div class="header" id="header">
    <div class="container">
        <a href="" class="logo"
        ><i class="shop fa-solid fa-shop fa-2x"></i>Market</a
        >
        <div class="links">
          <span class="bars-icon">
            <span></span>
            <span class="nd"></span>
            <span></span>
          </span>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#Products">Products</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#contact">Contact us</a></li>
            </ul>
        </div>
        <input type="button" class="login" value="Login"><a href="{{ url_for('login') }}"></a>
        <i class="cart fa-solid fa-cart-shopping"><i class="fa badge fa-lg" value="0"></i></i>
    </div>
</div>



