<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@200;300;400;600;700;800&display=swap"
            rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% block styles %}
        <link rel="stylesheet" href="../static/css/all.min.css"/>
        <link rel="stylesheet" href="../static/css/norm.css">
        <link rel="stylesheet" href="../static/css/home-page-style.css"/>
        <link rel="stylesheet" href="../static/css/cart-page-style.css">
        <link rel="stylesheet" href="../static/css/footer-style.css">
    {% endblock %}
</head>
<body>
<header class="header" id="header">
    <div class="container">
        <a href="{{ url_for('home') }}" class="logo"
        ><i class="shop fa-solid fa-shop fa-2x"></i>HandMade</a
        >
        <div class="navbar">
            <ul class="nav-links">
                <li><a class="h-links" href="{{ url_for('home') }}">Home</a></li>
                <li><a class="h-links" href="{{ url_for('about') }}">About</a></li>
                <li><a class="h-links" href="{{ url_for('contact') }}">Contact</a></li>
                {% if logged_in %}
                    <li><a class="h-links" href="{{ url_for('app_views.account') }}">Account</a></li>
                    <li><a class="log" href="{{ url_for('app_views.logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="log" href="{{ url_for('app_views.login') }}">Login</a></li>
                {% endif %}
            </ul>
            <div class="tog-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <i class="cart fa-solid fa-cart-shopping"
        ><i class="fa badge fa-lg" value="0"></i
        ></i>
        <div class="mobile-nav">
            <li><a class="h-links" href="{{ url_for('home') }}">Home</a></li>
            <li><a class="h-links" href="{{ url_for('about') }}">About</a></li>
            <li><a class="h-links" href="{{ url_for('contact') }}">Contact</a></li>
            {% if logged_in %}
                <li><a class="h-links" href="{{ url_for('app_views.account') }}">Account</a></li>
                <li><a class="log" href="{{ url_for('app_views.logout') }}">Logout</a></li>
            {% else %}
                <li><a class="log" href="{{ url_for('app_views.login') }}">Login</a></li>
            {% endif %}
        </div>
    </div>
</header>
<main>