{% include 'header.html' %}
{% block styles %}
    <link rel="stylesheet" href="../static/css/forms-style.css">
{% endblock %}

{% from "_formhelpers.html" import render_field %}
<div class="container add_margin">
    <h1>Login</h1>
</div>
{% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="flash">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="user-sec">
    <div class="container add_margin">
        <div class="profile-sec">
            <form class="profile-form" method="post" novalidate>
                {{ form.csrf_token }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ form.login }}
            </form>
        </div>
    </div>
</div>


<div class="container add_margin">
    <a href="{{ url_for('signup') }}">Signup if you don't have an account</a>
</div>
<div style="min-height: 50vh"></div>
{% include 'footer.html' %}