{% include 'header.html' %}
{% block styles %}
    <link rel="stylesheet" href="../static/css/forms-style.css">
{% endblock %}

{% from "_formhelpers.html" import render_field %}
<div class="user-sec">
    <div class="container sign_form">
        <div class="profile-sec">
            <form class="profile-form" method="post" novalidate>
                {{ form.csrf_token }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ form.login }}
            </form>
        </div>
    </div>
</div>


<div class="container sign_form">
    <a href="{{ url_for('signup') }}">Signup if you dont have an account</a>
</div>
<div style="min-height: 50vh"></div>
{% include 'footer.html' %}