{% include 'header.html' %}
{% block styles %}
    <link rel="stylesheet" href="../static/css/forms-style.css">
{% endblock %}

<div class="container sign_form">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:red">{{ messages[-1] }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% from "_formhelpers.html" import render_field %}
<div class="user-sec">
    <div class="container sign_form">
        <div class="profile-sec">
            <form class="profile-form" method="post" novalidate>
                {{ form.csrf_token }}
                {{ render_field(form.name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.email_confirm) }}
                {{ render_field(form.password) }}
                {{ render_field(form.password_confirm) }}
                {{ render_field(form.address) }}
                {{ render_field(form.postal_code) }}
                {{ render_field(form.about) }}
                {{ form.confirm }}
            </form>
        </div>
    </div>
</div>
<div class="sign_form">
</div>
{% include 'footer.html' %}