{% include "header.html" %}
<div class="pro-heading">
    <div class="container">
        <h1>Profile</h1>
    </div>
</div>

<div class="info">
    <div class="container">
        <div class="static-inf">
            <i class="fa-solid fa-circle-user"></i>
            <h2>User Name</h2>
        </div>
    </div>
</div>

<div class="user-sec">
    <div class="container">
        <div id="pop" class="pop-background">
            <div id="" class="profile-sec">
                <a href="#"><i href="#" class="fa-solid fa-circle-xmark"></i></a>
                <form class="profile-form" action="">
                    <label for=""> First Name</label>
                    <input class="in-field" type="text" required>
                    <label for=""> Last Name</label>
                    <input class="in-field" type="text" required>
                    <label for=""> Email </label>
                    <input class="in-field" type="email" required>
                    <label for="">Mobile Number</label>
                    <input class="in-field" type="number" required>
                    <label for="">Address</Address></label>
                    <input class="in-field" type="text" required>
                    <label for="">About</label>
                    <textarea></textarea>
                    <a href=""> <input class="save" type="submit" value="Save"></a>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="static-sec">
    <div class="container">
        <div class="static-data">
            <div class="user-s-data">
                <h3 class="c1">Full Name:</h3>
                <h4 class="c2">User Full Name</h4>
            </div>
            <br>
            <div class="user-s-data">
                <h3 class="c1">Email:</h3>
                <h4 class="c2">User Email</h4>
            </div>
            <br>
            <div class="user-s-data">
                <h3 class="c1">Address:</h3>
                <h4 class="c2">User Address</h4>
            </div>
            <br>
            <div class="user-s-data">
                <h3 class="c1">Mobile Number:</h3>
                <h4 class="c2">User Mobile Number</h4>
            </div>
            <br>
            <div class="user-s-data">
                <h3 class="c1">About Me:</h3>
                <h4 class="c2">Some text....</h4>
            </div>
            <br>
            <div class="pro-btns">
                <a href="#pop"> <input class="pop-btn" type="submit" value="Edit"></a>
                <a href=""> <input class="products-btn" type="submit" value="My Products"></a>
                <a href=""> <input class="orders-btn" type="submit" value="My Orders"></a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="my-products-h"> My Products</h2>
</div>
{% include "footer.html" %}